* {
    font-family: 'Comfortaa', cursive;
    font-size: 1vmax;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 90vh;
    margin: 0;
}

#listeLien {
    padding: 0;
    background-color: white;
    font-size: 1vmax;
    border-radius: 1vmax;
} 

#nomUtilisateur {
    text-align: right;
    margin: auto 0;
    font-size: auto;
}

#photoNomContainer {
    margin: auto;
    display: grid;
    grid-template: 100% / 50% 50%; 
}

.containerProfil {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    margin: 0 3vmax;
}

header {
    height: 10vh;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template: 100% / 15% 28% 14% 43%; 
    background: 	rgb(255,240,210);
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
}

header * {
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#profilContainer {
    grid-row: 2;
    width: 100%;
    margin: auto;
}

#headerProfil {
    display: flex;
    align-items: center;
    grid-row: 3;
}

#menuDeroulant {
    display: none;
    width: 100%;
    margin: auto;
    grid-row: 3;
}

#menuDeroulant ul {
    list-style-type: none;
    align-self: flex-end;
    transition: 1s max-height 1s;
    overflow-wrap: break-word;
    border: 0px 1px 1px 1px solid black;
    
}

#menuDeroulant li {
    list-style-type: none;
    overflow-wrap: break-word;
}
#menuDeroulant li a{
    text-decoration: none;
    font-size: medium;
    overflow-wrap: break-word;
}

#headerProfil {
    display: flex;
    justify-content: space-around;
    font-size: large;
    align-items: center;

}

#listeLien li {
    filter: none;
    padding-bottom: 5%;
    font-size: 1vmax;
    margin: 3%; 
}

.notLast {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#lastLi a{
    color : red
}


#photoProfilAccueil {
    height: auto;
    max-width: 80%;
    max-height: 80%;
    max-height: auto;
}

#popupPost {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.7);
    z-index: 2;
}

#rechercher {
    margin: auto;
    filter: none;

}

#rechercherImage {
    grid-column: 3;
}


#contenaireRechercher {
    display: grid;
    grid-template: 25% 50% 25% / 100%;
    filter: none;
}

h2 {
    margin-bottom: 5vh;
    text-align: center;
}

.listUsers {
    overflow-wrap: break-word;
    grid-row: 3;
    width: 15vmax;
    margin: auto;
    padding: 0;
    font-size: 1vmax;
    list-style-type: none;
    background-color: white;
    border-radius: 1vmax; 
}

.liUser {
    margin: 5%;
    border-radius: 1vmax;
}

a {
    text-decoration: none;
    color: black;
}

.inputRechercher {
    grid-row: 2;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: #000000 1px solid;
    background: rgb(255,240,210);
    filter: none;
    width: 15vmax;
    margin: auto;
    padding: 0;
    max-height: 100%;
    font-size: 1vmax;

}

#inputRechercher:focus {
    outline: none;
}

#souligneRechercher {
    border: none;
    height: 1px;
    background-color: #000000;
}

#logoTouitter {
    grid-column: 4;
    cursor: pointer;
    margin: auto;
    height: 90%;
    width: 90%;
}

#poster {
    display: none;
    background-color: #FFE7B9;
    margin: auto;
    width: 50%;
    height: 50%;
    border: none;
    font-size: 1vmax;
    cursor: pointer;
}

#error {
    text-align: center;
    margin-top: 5vmax;
}

#formPost {
    position: absolute;
    display: flex;
    background-color: #FFE7B9;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    outline-offset: 10px;
    outline: 5px solid #FFE7B9;
    border-radius: 20px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#msgPost {
    border: 0px;
    border-radius: 20px;
    padding-top: 2%;
    padding-left: 2%;
    height: 50%;
    width: 75%;
    font-size: xx-large;
}

#sendPost {
    background-color: #c9a460;
    width: 20%;
    height: 12%;
    text-align: center;
    border: 0px;
    font-size: x-large;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

#divPublic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#labelPublic {
    font-size: medium;
}


#pubPost{
    font-size: xx-large;
    margin-left: auto;
    padding-left: 5%;
    
    text-align: center;
}

#croix {
    width: 5%;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
    
}

#headerCreatePost {
    display: flex;
    justify-content: center;
    width: 95%;
    
}

#fleche {
    width : 5%;
    margin-top: 10vh;
    padding-left: 2%;
    cursor: pointer;
}

#listeTouitte {
    /*overflow: scroll;*/
    margin-top: 5vh;
    height: 90vh;
}

.touitte {
    margin: auto;
    width: 60%;
    cursor: pointer;
}

.contenu {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template: 10% 10% 70% 10% / 17% 36% 37% 10%;
    grid-template: 2vmax 2vmax 100% / 17% 36% 37% 10%;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.nom {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 0;
    font-size: 0.8vmax;
    font-weight: bold;
}

.date {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7vmax;
}

.etoiles {
    margin: auto;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}

.etoile {
    height: 1vmax;
    width: 1vmax;
}

.commentaire {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    margin: auto 0 auto auto;
}

.nombreCommentaire {
    margin: auto;
    font-weight: bold;
    font-size: 0.8vmax;
}

.bulleCommentaire {
    width: 1vmax;
    height: 1vmax;
}

.photoProfil {
    grid-area: 3 / 1 / 4 / 2;
    height: auto;
    width: 4vmax;
    max-width: 100%;
    max-height: auto;
}

.contenuTouitte {
    margin: 0;
    grid-area: 3 / 2 / 4 / 5;
    text-align: justify;
    font-size: 1vmax;
}

.separateurTouitte {
    display: flex;
    height: 1px;
    width: 40%;
    border: none;
    background-color: black;
    margin: 5vh auto;
}

.imgHeader {
    display: none;
}


@media screen and (min-height: 100vw) {
    /*header {
        display: none;
    }

    #listeTouitte {
        margin: auto;
    }*/

    header {
        grid-template: 100% / repeat(4, 25%); 
    }

    #contenaireRechercher {
        display: none;
    }

    #poster {
        display: none;
    }

    .touitte {
        width: 100%;
    }

    .imgHeader {
        display: block;
        margin: auto;
        height: 40%;
        width: 40%;
    }

    .nom {
        font-size: 2vmin;
    }

    #nomUtilisateur {

        display: none; 
    }

    #photoProfilAccueil {
        margin: auto;
    }

    #photoNomContainer {
        grid-template: 100% / 100%;
    }

    #containerProfil {
        margin: 0;
    }
}

@media screen and (min-height: 250vw) {
    .contenu {
        width: 95%;
    }
}

.displayNone {
    display: none;
}

.affichageTelephone {
    display: grid;
    grid-column: 1 / 3;
}

.affichageTelephone input {
    width: 80%;
}

.affichageTelephone ul {
    width: 80%;
}